@import url('https://fonts.googleapis.com/css2?family=Alice&family=Montserrat:wght@500&family=Open+Sans:ital,wght@1,600&family=Source+Serif+Pro:ital,wght@1,600&display=swap');

/*--Navigation Bar------------------------------*/
.container1 {
    background-color: black;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding-right: 100px;
    padding-left: 50px;
}

.navbar-brand {
    color:  red;
    font-size: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    padding: 50px;
}

.navbar-brand:hover {
    text-decoration: underline;
}

.navlink {
    list-style: none;
}

.nav-item1 {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.collapse a {
    font-size: 20px;
    text-decoration: none !important;
    transition: all 0.3s ease 0s;
}

 .collapse a:hover {
    color:  red !important;
    text-decoration: underline !important;
}

.dropdown-menu {
    background-color: white;
    font-weight: bold;
    font-size: 18px;
}

button {
    margin-left: 25px;
    padding: 8px 16px;
    background-color:  red;
    border-color: red;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: black;
    color:  red;
    text-decoration: underline;
}

/*--Hero----------------------------------------*/
.container2 {
    padding: 50px;

}

h1 {
    display: flex;
    justify-content: flex-start;
    font-size: 80px;
}

.container2 p {
    display: flex;
    justify-content: flex-start;
    font-size: 24px;
}

.btn-danger {
    background-color: red;
    border-color:  red;
    margin-left: 0px;
}

.btn-danger:hover {
    border-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;;
    background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
}

.img-fluid {
    height: auto !important;
    max-width: 500px !important;
    object-position: right !important;


}

/*--Cards---------------------------------------*/
.cards {
    background-color: black;
    padding: 100px;
}

.title {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}

h2 {
    font-size: 50px;
}

.card-body {
    display: block;
    align-content: center;
    
}

.btn-danger:hover {
    color: red;
    text-decoration: underline;
    border-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;;
}

.buttonCards:hover {
    background-color: black;
    color: red;
    text-decoration: underline;
    border-color: black !important;
}

.midButton:hover {
    background-color: rgba(var(--bs-secondary-rgb),var(--bs-bg-opacity))!important;
    color: red;
    text-decoration: underline;
    border-color: rgba(var(--bs-secondary-rgb),var(--bs-bg-opacity))!important;
}

.buttonCards {
    padding-top: 100px;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

.buttonCards button {
    color: white;
    background-color: red;
}

/*--Footer--------------------------------------*/
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    height: auto;
    width: 99.35vw;
    font-family: "Open Sans";
    padding-top: 20px;
    color: white;
}

.footerContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footerContent h4{
    font-size: 20px;
    font-weight: 400;
    line-height: 100px;
}

.socialMedia {
    display: flex;
    justify-content: center;
}

.socialMedia i {
    color: white;
}

.fa-facebook {
    font-size: 40px;
    padding-right: 10px;
    
}

.fa-facebook:hover {
    cursor: pointer;
    color: red;
    text-decoration: underline;
}

.fa-linkedin-in {
    font-size: 40px;
    padding-right: 10px;
    padding-left: 10px;
   
}

.fa-linkedin-in:hover {
    cursor: pointer;
    color: red;
    text-decoration: underline;
}

.fa-twitter {
    font-size: 40px;
    padding-right: 10px;
    padding-left: 10px;
    
}

.fa-twitter:hover {
    cursor: pointer;
    color: red;
    text-decoration: underline;
}

.fa-instagram {
    font-size: 40px;
    padding-left: 10px;
    
}

.fa-instagram:hover {
    cursor: pointer;
    color: red;
    text-decoration: underline;
}

.footerContent h4 {
    font-size: 30px;
    padding-bottom: 30px;
}

.leadFoot {
    margin: 10px auto;
    line-height: 25px;
    font-size: 12px;
    padding-top: 25px;
}

.container a i {
    color: red;
}

.container a i:hover {
    color: black;
}




/*--About Me ---------------------------------------*/
.aboutMain img {
    display: flex;
    align-content: flex-end;
    width: 500 !important;
    height: auto !important;
    margin-left: 925px;
}

.aboutMain button {
    margin-top: 50px;
}

.aboutFooter {
    background-color: black !important;
}




/*--Contact Me--------------------------------------*/
.buttonOne {
    background-color: black;
    color: red;
    text-decoration: underline;
}

.contactMain {
    padding: 68px !important;
}

.contactFooter {
    background-color: black !important;
}